<?xml version="1.0"?>
<robot name="AGV_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>
    <gazebo>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find omnibot_control)/config/omnibot_controller.yaml</parameters>
      </plugin>
    </gazebo>
</robot>