<?xml version="1.0"?>

<robot  xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="base_radius" value="0.2"/>
    <xacro:property name="base_hight" value="0.1"/>
    <xacro:property name="wheel_radius" value="0.05"/>
    <xacro:property name="wheel_length" value="0.05"/>


    <link name="base_footprint"/>
    <link name="base_link">
        <visual>
            <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${base_radius}" length="${base_hight}" />
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
                <geometry>
                    <cylinder radius="${base_radius}" length="${base_hight}" />
                </geometry>
                <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
            </collision>
            <xacro:cylinder_inertia m="10.0" r="${base_radius}" l="${base_hight}"
                                    o_xyz="0 0 ${wheel_radius}" o_rpy="0 0 0" />
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
    </joint>


</robot>